# PDF + OCR
pypdf
pytesseract
Pillow
opencv-python

# LangChain + Vector DB
langchain
langchain_community
faiss-cpu

# Embeddings + Transformers
torch
accelerate
bitsandbytes
sentence-transformers
huggingface_hub
ctransformers

# LLM + APIs
openai
groq

# UI / Dev tools
chainlit
